
<div class="wrapper" data-background-color="black">
       
    <div class="page-header clear-filter" >
      <div class="page-header-image rellax-header" data-rellax-speed="-7">
  
      </div>
        <div class="container">
            <div class="content-center brand">
                <img width="200px" height="200px" src="assets/img/notfound.png" alt=""> <br>
                
                <H1 style="font-family:Comfortaa;margin-top : 50px;">404 <br> Page not found</H1>
               
                <button type="button" routerLink="/index" class="btn btn-default  btn-lg" style="font-family:Comfortaa">Retourner à l'acceuil</button>
              
            </div>
            
        </div>
    </div>
  
    <footer class="footer" data-background-color="black">
        <div class="container">
            
            <div class="copyright">
                &copy;
              {{data | date: 'yyyy'}}, Designed and coded by
               basics
            </div>
        </div>
    </footer> 
  </div>
  