
<div class="page-header" data-background-color="black">
    <div class="page-header-image" style="background-image:url(assets/img/login.jpg)"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <form [formGroup]="TypeForm" class="form" (ngSubmit)="onSubmitForm()">
                    <div class="header header-primary text-center">
                        <div class="logo-container">
                            <img class="n-logo" src="assets/img/cherries.png" alt="">
                            
                        </div>
                        <h3 style="font-family:Comfortaa;">Basics Food <span style="color:red">.</span></h3>

                    </div>
                    <div class="content">
                      <div class="input-group form-group-no-border input-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                        </div>
                          <input formControlName="username" type="text" class="form-control" placeholder="Username..." >
                      </div>
                      <div class="input-group form-group-no-border input-lg" >
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                        </div>
                          <input formControlName="password" type="password" placeholder="Password..." class="form-control"  />
                      </div>
                    </div>
                    <div class="footer text-center">
                            <input [disabled]="TypeForm.invalid" type="submit" class="btn btn-danger btn-round btn-lg" value="Connexion">
                    </div>
                    
                    <p *ngIf="authenticated == false"> Il ya un probleme avec le username ou le password</p>
                </form>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            
            <div class="copyright">
                &copy;
              2019,  Coded by
                <a href="https://www.creative-tim.com" target="_blank">Basics</a>.
            </div>
        </div>
    </footer>
</div>
