

<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/team.png') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="assets/img/cherries.png" alt="">
                </div>
                <br>
                <h3 class="title"  style="font-family:Comfortaa">Basics Food</h3>
                
               
            </div>
        </div>
    </div>
    <div class="section" data-background-color="black">
        <div class="container">
            
         <h3 class="title" style="font-family:Comfortaa">Liste des types </h3>
          <div class="text-right" style="margin-bottom:10px;">
              <button routerLink="/ajoutypeplat" type="button" class="btn btn-danger">Ajouter nouveau type</button> 
          </div>

          <p *ngIf="empty == true"> Vous n'avez pas encore de types de plat <br> Appuyer sur le button pour ajouter</p>
       
            <div class="row">
                <div class="col-md-12">
                    <table class="table" *ngIf="empty == false">
                        <thead class="thead-dark">
                          <tr>
                           
                            <th style="font-family:Comfortaa" scope="col">Nom du type</th>
                            <th style="font-family:Comfortaa" scope="col">Action</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor = "let type of types">
                            
                            <td style="font-family:Comfortaa">
                                <h3>{{type.nom}}</h3>
                            </td>
                            <th style="font-family:Comfortaa" scope="col">
                                <button routerLink="/editType/{{type._id}}"  type="button" class="btn btn-info">Modifier</button> 
                                <button (click)="delete(type._id)" type="button" class="btn btn-danger">Supprimer</button> 
                            </th>
                            
                          </tr>
                          
                          
                          
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
    <footer data-background-color="black" class="footer">
            <div class="container">
                
                <div class="copyright">
                    &copy;
                  2019,  Coded by
                    <a href="https://www.creative-tim.com" target="_blank">Basics</a>.
                </div>
            </div>
        </footer>
</div>
