
<div class="wrapper" data-background-color="black">
       
  <div class="page-header clear-filter" >
    <div class="page-header-image rellax-header" data-rellax-speed="-7">

    </div>
      <div class="container">
          <div class="content-center brand">
              <img class="n-logo" src="assets/img/cherries.png" alt="">
              <h1 style="font-family:Comfortaa;">Basics Food <span style="color:red">.</span></h1>
              <h3 style="font-family:Comfortaa">Le tour du monde sans quitter votre assiette.</h3>
              <button type="button" routerLink="/showmenu" class="btn btn-danger  btn-lg" style="font-family:Comfortaa">Regarder notre menu</button>
            
          </div>
          
      </div>
  </div>

  <footer class="footer" data-background-color="black">
      <div class="container">
          
          <div class="copyright">
              &copy;
            {{data | date: 'yyyy'}}, Designed and coded by
             basics
          </div>
      </div>
  </footer> 
</div>
