<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" style="background-image: url('assets/img/team.png');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Basics Team.</h1>
                <div class="text-center">
                    <a href="#pablo" class="btn btn-danger btn-icon btn-round">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a href="#pablo" class="btn btn-danger btn-icon btn-round">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#pablo" class="btn btn-danger btn-icon btn-round">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-about-us" data-background-color="black">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Qui sommes nous?</h2>
                    <h5 class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt asperiores iure et exercitationem id voluptas, ipsam voluptatum nobis veniam officiis assumenda, accusamus laboriosam eligendi ex magnam natus reprehenderit, voluptatibus aliquid.</h5>
                </div>
            </div>
           
        </div>
    </div>
    <div class="section section-team text-center" data-background-color="black">
        <div class="container">
            <h2 class="title">Ca c'est notre team</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/avatar.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Djibril Diagne</h4>
                            <p class="category text-danger">Developer</p>
                            <p class="description">Loremm.</p>
                          
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/ryan.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Mohamed Sidibe</h4>
                            <p class="category text-danger">Product Manager</p>
                            <p class="description">Loremm.</p>
                           
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/eva.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Semiatou xxx</h4>
                            <p class="category text-danger">Developer</p>
                            <p class="description">Loremm.</p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    
    <footer class="footer" data-background-color="black">
        <div class="container">
            
                <div class="copyright">
                        &copy;
                      {{data | date: 'yyyy'}},  Coded by
                        <a href="https://www.creative-tim.com" target="_blank">Basics</a>.
                    </div>
        </div>
    </footer>
</div>
